<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IamRapid</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero" style ="background: url(../img/step0001.jpg) top center;   background-size: cover; position: relative;">
    <div class="hero-container">
      <h1>Hire a Designer</h1>
      <hr>
      <h2 style="font-size: 20px; margin-right: 300px; margin-left: 300px; margin-bottom: 15px;">iamRapid is a Rapid Additive Manufacturing industry located in Bangalore always looking for the next great client and project. </h2>
      <h2 style="font-size: 20px; margin-right: 300px; margin-left: 300px;"> If you’d like to work with us, just get in touch!</h2>
      <a href="#upload" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- #hero -->

  <main id="main">


    <!--==========================
      upload section
    ============================-->
    <section id="upload">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Contact us:</h3>
          <p class="section-description"></p>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a><i class="fa fa-mobile"></i></a></div>
              <h4 class="title"><a>Contact us on phone </a></h4>
              <p class="description">Shashwat Singh - 831-891-2132</p>
              <p class="description">Sushant Kashyap - 862-904-4664</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a><i class="fa fa-laptop"></i></a></div>
              <h4 class="title"><a>Email Us on</a></h4>
              <p class="description">shashwat@iamrapid.com</p>
              <p class="description">sushant@iamrapid.com</p>
            </div>
          </div>


        </div>

      </div>
    </section>

   

  </main>




 <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Dextrous Manufacturing pvt. ltd</strong>. All Rights Reserved
      </div>
      <div class="credits">
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>





  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
